@import "tailwindcss";

body {
  background-color: #0f172a;
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}